#header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #e09d16;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  margin-top: 120px;
}

#header .pfp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

#header .profile-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFF;
}

/* Desktop Version */
@media only screen and (min-width: 1025px){
  #header {
    float: left;
    margin-left: 1.5em;
    margin-top: 7.5em;
    height: 17em;
    width: 17em;
    overflow: hidden;
    position: fixed;
  }
}