#all-tweets {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  border: #545149 5px solid;
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom: 1em;
}

.tweet-container:hover {
  display: flex;
  flex-direction: column;
  box-shadow:#adcae6 5px 5px;
}

.user-details {
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
}

.pic-and-name {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  width: 160px;
  /* border: yellow 2px solid; */
}

#pic {
  height: 50px;
  width: 50px;
}


.username {
  align-items: center;
  color: #adcae6;
  display: flex;
  font-size: 25px;
  font-weight: 400;
}

.tweet {
  border-bottom: #545149 5px solid;
  padding-left: .5em;
}

.tweet-details {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.fas {
  align-items: center;
  color: #4056A1;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.fas:hover {
  color: #daa520;
}