#all-tweets {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  border: #545149 5px solid;
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom: 1em;
}

.tweet-container:hover {
  display: flex;
  flex-direction: column;
  box-shadow:#adcae6 0.25em 0.25em;
}

.user-details {
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
}

.pic-and-name {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  width: auto;
}

#pic {
  height: 50px;
  width: 50px;
}

.username {
  align-items: center;
  color: #82b5db;
  display: flex;
  font-size: 25px;
  font-weight: 400;
}

.tweet {
  border-bottom: #545149 5px solid;
  padding-left: .2em;
}

.tweet-details {
  align-items: center;
  display: flex;
  font-size: .95em;
  justify-content: space-between;
}

.fas {
  align-items: center;
  color: #4056A1;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.fas:hover {
  color: #daa520;
}

/* Desktop Version */
@media only screen and (min-width: 96em){
  #all-tweets {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 20em;
    min-width: 40em;
    position: relative;
  }

  .tweet-container {
    display: flex;
    flex-direction: column;
    border: #545149 5px solid;
    padding-left: .5em;
    padding-right: .5em;
    margin-bottom: 1em;
  }
}